In [29]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [30]:
import yfinance as yf

In [31]:
# data = yf.download(
#     "TSLA",
#     period="1y",
#     interval="1d"
# )

In [32]:
tsla = yf.Ticker("TSLA")
hist = tsla.history(period="1y")
hist.reset_index(inplace=True)

In [56]:

price_df=hist

In [74]:
price_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2025-01-10,391.399994,399.279999,377.290009,394.739990,62287300,0.0,0.0
1,2025-01-13,383.209991,403.790009,380.070007,403.309998,67580500,0.0,0.0
2,2025-01-14,414.339996,422.640015,394.540009,396.359985,84565000,0.0,0.0
3,2025-01-15,409.899994,429.799988,405.660004,428.220001,81375500,0.0,0.0
4,2025-01-16,423.489990,424.000000,409.130005,413.820007,68335200,0.0,0.0
...,...,...,...,...,...,...,...,...
246,2026-01-05,447.989990,457.549988,444.570007,451.670013,67940800,0.0,0.0
247,2026-01-06,446.380005,448.250000,428.779999,432.959991,89093800,0.0,0.0
248,2026-01-07,435.899994,438.369995,431.290009,431.410004,59828800,0.0,0.0
249,2026-01-08,427.890015,436.890015,424.369995,435.799988,56893100,0.0,0.0
250,2026-01-09,435.945007,443.880005,430.390015,441.390015,25794224,0.0,0.0

In [34]:
!pip install pytrends

Requirement already satisfied: pytrends in /usr/local/lib/python3.11/dist-packages (4.9.2)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.11/dist-packages (from pytrends) (2.32.5)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.11/dist-packages (from pytrends) (2.2.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.11/dist-packages (from pytrends) (5.4.0)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25->pytrends) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25->pytrends) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25->pytrends) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25->pytrends) (2025.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0->pytrends) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0->pytrends) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0->pytrends) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.0->pytrends) (2025.10.5)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas>=0.25->pytrends) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas>=0.25->pytrends) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas>=0.25->pytrends) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas>=0.25->pytrends) (2025.3.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas>=0.25->pytrends) (2022.3.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas>=0.25->pytrends) (2.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25->pytrends) (1.17.0)
Requirement already satisfied: onemkl-license==2025.3.0 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy>=1.23.2->pandas>=0.25->pytrends) (2025.3.0)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy>=1.23.2->pandas>=0.25->pytrends) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy>=1.23.2->pandas>=0.25->pytrends) (2022.3.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy>=1.23.2->pandas>=0.25->pytrends) (1.4.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy>=1.23.2->pandas>=0.25->pytrends) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy>=1.23.2->pandas>=0.25->pytrends) (2024.2.0)

In [35]:
from pytrends.request import TrendReq

In [36]:
trend=TrendReq(hl='en-US', tz=360)

In [37]:
keyword=['TSLA stock']
timeframe = "today 12-m"

In [53]:
from pytrends.request import TrendReq
import pandas as pd
import time

# Create pytrends object WITHOUT retries/backoff
pytrends = TrendReq(hl='en-US', tz=360)

keyword = ["Tesla"]          # safer than "Tesla stock"
timeframe = "today 12-m"     # last 12 months

time.sleep(5)

pytrends.build_payload(
    kw_list=keyword,
    timeframe=timeframe,
    geo='',
    gprop=''
)

time.sleep(5)

trends_df = pytrends.interest_over_time()

/usr/local/lib/python3.11/dist-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)

In [54]:
trends_df.drop('isPartial',axis=1,inplace=True)

In [55]:
trends_df

            Tesla
date
2025-01-05     49
2025-01-12     45
2025-01-19     50
2025-01-26     51
2025-02-02     48
2025-02-09     46
2025-02-16     44
2025-02-23     52
2025-03-02     61
2025-03-09    100
2025-03-16     92
2025-03-23     76
2025-03-30     81
2025-04-06     71
2025-04-13     46
2025-04-20     59
2025-04-27     46
2025-05-04     41
2025-05-11     45
2025-05-18     42
2025-05-25     41
2025-06-01     60
2025-06-08     50
2025-06-15     42
2025-06-22     45
2025-06-29     48
2025-07-06     48
2025-07-13     49
2025-07-20     55
2025-07-27     52
2025-08-03     55
2025-08-10     61
2025-08-17     59
2025-08-24     54
2025-08-31     55
2025-09-07     55
2025-09-14     57
2025-09-21     60
2025-09-28     60
2025-10-05     55
2025-10-12     49
2025-10-19     50
2025-10-26     48
2025-11-02     51
2025-11-09     51
2025-11-16     50
2025-11-23     48
2025-11-30     48
2025-12-07     45
2025-12-14     48
2025-12-21     42
2025-12-28     37
2026-01-04     36

In [59]:
price_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2025-01-10,391.399994,399.279999,377.290009,394.739990,62287300,0.0,0.0
1,2025-01-13,383.209991,403.790009,380.070007,403.309998,67580500,0.0,0.0
2,2025-01-14,414.339996,422.640015,394.540009,396.359985,84565000,0.0,0.0
3,2025-01-15,409.899994,429.799988,405.660004,428.220001,81375500,0.0,0.0
4,2025-01-16,423.489990,424.000000,409.130005,413.820007,68335200,0.0,0.0

In [58]:
price_df["Date"] = price_df["Date"].dt.tz_localize(None)

In [64]:
trends_df = trends_df.reset_index()

In [66]:
trends_df.head()

        date  Tesla
0 2025-01-05     49
1 2025-01-12     45
2 2025-01-19     50
3 2025-01-26     51
4 2025-02-02     48

In [67]:
price_df["Date"] = pd.to_datetime(price_df["Date"])
trends_df['date']=pd.to_datetime(trends_df['date'])

In [69]:
price_df = price_df.sort_values("Date").reset_index(drop=True)
trends_df = trends_df.sort_values("date").reset_index(drop=True)

In [71]:
trends_df.rename(columns={
    "date": "Date",
    "Tesla": "Google_Trend"
}, inplace=True)

In [72]:
merged_df = pd.merge_asof(
    price_df,
    trends_df,
    on="Date",
    direction="backward"
)

merged_df.head()

In [75]:
merged_df.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Google_Trend
0,2025-01-10,391.399994,399.279999,377.290009,394.739990,62287300,0.0,0.0,49
1,2025-01-13,383.209991,403.790009,380.070007,403.309998,67580500,0.0,0.0,45
2,2025-01-14,414.339996,422.640015,394.540009,396.359985,84565000,0.0,0.0,45
3,2025-01-15,409.899994,429.799988,405.660004,428.220001,81375500,0.0,0.0,45
4,2025-01-16,423.489990,424.000000,409.130005,413.820007,68335200,0.0,0.0,45
5,2025-01-17,421.500000,439.739990,419.750000,426.500000,94991400,0.0,0.0,45
6,2025-01-21,432.640015,433.200012,406.309998,424.070007,87320900,0.0,0.0,50
7,2025-01-22,416.809998,428.000000,414.589996,415.109985,60963300,0.0,0.0,50
8,2025-01-23,416.059998,420.730011,408.950012,412.380005,50690600,0.0,0.0,50
9,2025-01-24,414.450012,418.880005,405.779999,406.579987,56427100,0.0,0.0,50